.container {
    padding-top: 50px;
  }
  
  h1 {
    font-size: 95px;
    font-family: "Courier Prime", monospace;
  }
  
  mark {
    padding: 0px;
    background-color: variables.$bg;
  }
  
  .animate__slideInUp {
      animation-duration: 2s;
      overflow: hidden;
  }

  