ul {
    list-style: none;
  }
  
  li {
    font-family: "Montserrat", sans-serif;
    color: black;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
  }

  a{
      text-decoration: none;
      &:hover {
          cursor: pointer;
          text-decoration: underline solid 3px black;
          letter-spacing: 5px;
      }
    }
