ul {
    list-style: none;
  }
  
  li {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-weight: 500;
    font-size: 14px;
    
  }

  a{
    text-decoration: none;
    letter-spacing: 5px;
    transition:0.5s;
      &:hover {
        cursor: pointer;
        letter-spacing: 10px;  
      }
    }

  .animate__slideInDown {
    animation-delay: 2s;
    animation-duration: 2s;
    overflow: hidden;
  }


    
    