ul {
    list-style: none;
  }
  
  li {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-weight: 500;
    font-size: 14px;
    
  }

  a{
    text-decoration: none;
    letter-spacing: 5px;
      &:hover {
        cursor: pointer;
        letter-spacing: 10px;  
      }
    }

 #li-1 {
     animation-delay: 2s;
     animation-duration: 0.5s;
 }

 #li-2 {
    animation-delay: 1.5s;
    animation-duration: 0.5s;
}

#li-3 {
    animation-delay: 1s;
    animation-duration: 0.5s;
}

#li-4 {
    animation-delay: 0.5s;
    animation-duration: 0.5s;
}
    
    