.container {
  padding-top: 70px;
}

h1 {
  font-size: 105px;
  font-family: "Courier Prime", monospace;
}

mark {
  padding: 0px;
}

body {
  background-color: #FF4B75;
  height: auto;
  margin: 20px;
}