body {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #cfc4fa), to(#fcc6c6));
  background-image: linear-gradient(#cfc4fa 40%, #fcc6c6);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}