@use 'variables';
@import 'main';
@import 'sidenav';

body {
    background-color: variables.$bg;
    height: auto;
    margin: 20px;
    
}

h1 {
    font-size: 60px;
}

.animate__slideInDown {
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    overflow: hidden;
}
